################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/RealTimeDataEditor/bin/Debug/net461
/src/.vs/config
/src/RealTimeDataEditor/obj/Debug/net461
/src/RealTimeDataEditor/RealTimeDataEditor.xproj.user
/src/WebApplication/obj/Debug
/src/WebApplication/bin
/src/.vs
/src/RealTimeDataEditor.AspNetCore/obj/Debug/netcoreapp1.0
/src/RealTimeDataEditor.IsolatorCache.user
/src/RealTimeDataEditor.AspNetCore.NetCore/obj/Debug/netcoreapp1.0
/src/RealTimeDataEditor.AspNetCore.Net461/bin/Debug/net461
/src/RealTimeDataEditor.AspNetCore.Net461/obj/Debug/net461
/src/RealTimeDataEditor.AspNetCore.Net461/.idea
/src/RealTimeDataEditor.AspNetCore.Net461/node_modules
/src/RealTimeDataEditor.AspNetCore.NetCore/bin/Debug/netcoreapp1.0
/src/RealTimeDataEditor.AspNetCore.Net461/obj/Debug
/.vs
/src/RealTimeDataEditor.AspNetCore.Net461/obj
/src/RealTimeDataEditor.AspNetCore.NetCore/obj
/src/WebApplication/obj/Release
/src/RealTimeDataEditor.AspNetCore.Net461/RealTimeDataEditor.AspNetCore.Net461.csproj.user
/src/ConsoleApp/bin/Debug
/src/ConsoleApp/obj/Debug
/src/Rtde.AspNetCore1.1.NetCore1.1/obj
/src/Rtde.AspNetCore1.1.Net4.6.1/bin/Debug/net461
/src/Rtde.AspNetCore1.1.Net4.6.1/obj/Debug/net461
/src/Rtde.AspNetCore1.1.Net4.6.1/Rtde.AspNetCore1.1.Net4.6.1.csproj.user
/src/Rtde.AspNetCore1.1.Net4.6.1/obj
/src/Rtde.AspNetCore1.1.Net4.6.1/node_modules
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/products/product.js.map
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/products/product.js
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/products/products-signalr.service.js.map
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/products/products-signalr.service.js
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/products/products.component.js.map
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/products/products.component.js
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/products/products.service.js.map
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/products/products.service.js
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/app.component.js.map
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/app.component.js
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/app.module.js.map
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/app.module.js
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/main.js.map
/src/Rtde.AspNetCore1.1.Net4.6.1/wwwroot/angular2-app/app/main.js
