################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/RealTimeDataEditor/bin/Debug/net461
/src/.vs/config
/src/RealTimeDataEditor/obj/Debug/net461
/src/RealTimeDataEditor/RealTimeDataEditor.xproj.user
/src/WebApplication/obj/Debug
/src/WebApplication/bin
/src/.vs
/src/RealTimeDataEditor.AspNetCore/obj/Debug/netcoreapp1.0
/src/RealTimeDataEditor.IsolatorCache.user
/src/RealTimeDataEditor.AspNetCore.NetCore/obj/Debug/netcoreapp1.0
/src/RealTimeDataEditor.AspNetCore.Net461/bin/Debug/net461
/src/RealTimeDataEditor.AspNetCore.Net461/obj/Debug/net461
/src/RealTimeDataEditor.AspNetCore.Net461/.idea
/src/RealTimeDataEditor.AspNetCore.Net461/node_modules
/src/RealTimeDataEditor.AspNetCore.NetCore/bin/Debug/netcoreapp1.0
/src/RealTimeDataEditor.AspNetCore.Net461/obj/Debug
/.vs
/src/RealTimeDataEditor.AspNetCore.Net461/obj
/src/RealTimeDataEditor.AspNetCore.NetCore/obj
/src/WebApplication/obj/Release
