<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-md-3">Products</div>
        <div class="col-md-3"><span [innerText]="componentStatus"></span></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <table id="ProdTable" class="table">
                <tr id="ProdTableHd">
                    <th>Product Id</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                <tr *ngFor="let product of products" [class.bg-info]="product.id === selectedProduct.id"
                    (click)="setClickedRow(product)">
                    <td>
                        {{product.id}}
                    </td>
                    <td>
                        {{product.name}}
                    </td>
                    <td>
                        {{product.description}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form class="form-group">
                <label for="productId">Product Id</label>
                <input type="text" class="form-control" name="productId" id="productId" [(ngModel)]="selectedProduct.id" />
                <label for="productName">Name</label>
                <input type="text" class="form-control" name="productName" id="productName" [(ngModel)]="selectedProduct.name" />
                <label for="productDescription">Description</label>
                <input type="text" class="form-control" name="productDescription" id="productDescription"
                       [(ngModel)]="selectedProduct.description" />
                <br />
                <input class="btn" type="button" [disabled]="!addNewProductAllowed"
                       (click)="addNewProduct()" value="Add record" />
                <input class="btn" type="button" [disabled]="selectedProduct==null"
                       (click)="saveProduct()" value="Save record" />
                <input class="btn" type="button"
                       (click)="deleteProduct()" value="Delete record" />
            </form>
        </div>
    </div>
</div>
<!--<br />
<div class="mdiv">
    <ul>
        <li data-ng-model="message" data-ng-repeat="message in messagesList">
        </li>
    </ul>
</div>-->
